<!-- Side Nav -->
<div class="sidenav">
  <!-- Logo -->
  <a href="../index.html" class="sidenav-logo">
    <img src="../../assets/img/logo.png" alt="" class="sidenav-logo-large" />
  </a>

  <!-- Close Icon -->
  <div class="close-menu" (click)="hideSidebar()">
    <img src="../../assets/img/svg/close.svg" alt="" class="close-icon" />
  </div>

  <!-- Sidenav List -->
  <div class="sidenav-list">
    <ul>
      <li
        class="sidenav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="sidenav-links" routerLink="/">
          <img src="../../assets/img/svg/dashboard.svg" class="sidenav-icon" />
          <p>Dashboard</p>
        </a>
      </li>
      <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/merchant">
          <img src="../../assets/img/svg/merchant.svg" class="sidenav-icon" />
          <p>Merchants</p>
        </a>
      </li>
      <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/customer">
          <img src="../../assets/img/svg/customer.svg" class="sidenav-icon" />
          <p>Customers</p>
        </a>
      </li>
      <!-- <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/vehicle">
          <img src="../../assets/img/svg/vehicle.svg" class="sidenav-icon" />
          <p>Vehicles</p>
        </a>
      </li> -->
      <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/rider">
          <img src="../../assets/img/svg/rider.svg" class="sidenav-icon" />
          <p>Riders</p>
        </a>
      </li>
      <li class="order-link sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/order">
          <img src="../../assets/img/svg/order.svg" class="sidenav-icon" />
          <p>Orders</p>
          <!-- Chevron down -->
          <img
            src="../../../../assets/img/svg/chevron-down.svg"
            class="chevron-down"
          />
          <!-- Notification Dot -->
          <!-- <span class="notifi-dot"></span> -->
        </a>
        <!-- Drop down -->
        <span class="drop-down">
          <ul>
            <li>
              <a routerLink="/orderafrican" routerLinkActive="sub-active"
                >African</a
              >
            </li>
            <li>
              <a routerLink="/ordercontinental" routerLinkActive="sub-active"
                >Continental</a
              >
            </li>
            <li>
              <a routerLink="/orderdrink" routerLinkActive="sub-active"
                >Drinks</a
              >
            </li>
            <li>
              <a routerLink="/orderpastry" routerLinkActive="sub-active"
                >Pastries</a
              >
            </li>
          </ul>
        </span>
      </li>
      <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/payment">
          <img src="../../assets/img/svg/payment.svg" class="sidenav-icon" />
          <p>Payments</p>
        </a>
      </li>
      <li class="sidenav-item" routerLinkActive="active">
        <a class="sidenav-links" routerLink="/product">
          <img src="../../assets/img/svg/box.svg" class="sidenav-icon" />
          <p>Products</p>
        </a>
      </li>
    </ul>
  </div>

  <!-- Sidenav Settings -->
  <div class="sidenav-settings">
    <a routerLink="/setting" routerLinkActive="active">
      <img src="../../assets/img/svg/settings.svg" class="sidenav-icon" />
      <p>Settings</p>
    </a>
  </div>
</div>

<!-- [class.show-sidenav]="sidebar" -->
