/*/---- Import ----/*/
@import "variables";
@import "utilities";

/*/ ---- Mixins starts ----/*/
@mixin transition($time) {
  transition: all $time ease-in;
}
@mixin border-hover {
  &:hover {
    border: 1px solid $dark-color1;
  }
}
@mixin white-background {
  background-color: $white-color;
  border-radius: $border-radius + 8;
  padding: 1.5rem;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
@mixin dark-background {
  background-color: $dark-color1 !important;
  color: $white-color !important;
  border-radius: $border-radius + 8;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  .white-text {
    color: $white-color !important;
  }
  .accent-text {
    color: $accent-color !important;
  }
}
@mixin notification-dot {
  width: 10px;
  height: 10px;
  background-color: $danger-color;
  border-radius: 50%;
  z-index: 1;
}
@mixin table-item {
  border: 1px solid #e0e0e0;
  color: $dark-color2;
  font-size: $button-md-font;
  @include transition(0.2s);
  @include border-hover;
}
@mixin update-changes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*/ ---- Mixins ends ----/*/

/*/---- Main start ----/*/
main {
  position: absolute;
  left: 20%;
  width: 80%;
  padding: 1.5rem;
  @media only screen and (max-width: 885px) {
    width: 90%;
    left: 10%;
  }
  @media only screen and (max-width: 745px) {
    width: 100%;
    left: 0;
  }

  // MAIN SECTION
  .main-sect {
    display: grid;
    grid-gap: 2rem;
    &-heading {
      @media only screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-left {
        display: flex;
        align-items: center;
        h5 {
          @include transition(0.2s);
          img {
            vertical-align: middle;
            margin: 0;
          }
          &:hover {
            img {
              transform: translateX(-5px);
            }
          }
        }
        img {
          margin: 0 10px;
        }
        p {
          color: $dark-color2;
          font-size: $button-md-font;
          a {
            color: $dark-color2;
            font-size: $button-md-font;
          }
        }
      }
      .main-sect-btns {
        @media only screen and (max-width: 480px) {
          margin-top: 2rem;
        }
        .btn {
          img {
            vertical-align: middle;
            width: 20px;
            height: 20px;
          }
          &.trans-btn {
            margin-right: 0.5rem;
          }
          &.dark-btn {
            @media only screen and (max-width: 480px) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }

  // CARDS
  .main-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    .card {
      @include white-background;
      width: 220px;
      margin-bottom: 2rem;
      @media only screen and (max-width: 745px) {
        width: 100%;
      }
      h4 {
        color: $dark-color1;
      }
      p {
        margin-top: 1rem;
        color: $accent-color;
        font-size: $button-md-font;
      }
      &.dark-bg {
        @include dark-background;
        p {
          color: $white-color;
        }
      }
    }
  }

  // TABLE
  .table-area {
    @include white-background;
    overflow-x: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      &-left {
        display: flex;
        align-items: center;
        p:first-child {
          color: $dark-color1;
        }
        img {
          margin: 0 10px;
        }
        p:last-child {
          color: $dark-color2;
          font-size: $button-md-font;
        }
      }
      &-right {
        display: flex;
        .table-search {
          display: flex;
          align-items: center;
          border-radius: $border-radius - 4;
          border: 1px solid $grey-color1;
          padding: 0.25rem;
          @include transition(0.2s);
          @include border-hover;
          img {
            width: 18px;
            height: 18px;
          }
          input {
            border: none;
            outline: none;
            padding: 0.25rem;
            font-size: $button-md-font;
            // background-color: transparent;
            &::placeholder {
              color: $grey-color2;
            }
          }
        }
        .table-filter {
          margin-left: 0.5rem;
        }
      }
    }
    &-body {
      @media only screen and (max-width: 885px) {
        overflow-x: scroll;
      }
      .table-list {
        display: grid;
        grid-gap: 2rem;
        width: 100%;
        // @media only screen and (max-width: 885px) {
        //   width: max-content;
        // }
        li {
          display: flex;
          align-items: center;
          padding: 0.8rem;
          border-radius: $border-radius;
          width: 100%;
          &.table-heading {
            background-color: $light-color;
            color: $dark-color1;
            p {
              font-weight: 400;
            }
          }
          &.table-item {
            @include table-item;
          }
          p {
            margin-right: 2%;
            overflow-x: scroll;
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
              display: none;
            }
            &:last-child {
              // remove the margin for the last p
              margin-right: 0;
            }
            &.action {
              width: 100%;
              flex-basis: 20%;
              .btn {
                padding: 0.325rem !important;
                font-size: $button-md-font - 4;
                &.sec1-btn {
                  border-radius: 4px 0px 0px 4px;
                  border: 1px solid $dark-color1;
                  width: 30%;
                }
                &.dark-btn {
                  border-radius: 0px;
                  border: 1px solid $dark-color1;
                  // margin-left: -5px;
                  width: 30%;
                }
                &.danger-btn {
                  border-radius: 0px 4px 4px 0px;
                  border: 1px solid $danger-color;
                  margin-left: -5px;
                  width: 40%;
                }
              }
            }
          }
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        a {
          margin-right: 20px;
          color: #828282;
          font-size: $button-md-font;
          @include transition(0.2s);
          &:last-child {
            margin-right: 0;
          }
          &.active,
          &:hover {
            color: $dark-color1;
          }
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  // DROPDOWN
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    // width: 120px;
    border-radius: $border-radius - 4;
    border: 1px solid $grey-color1;
    padding: 0.25rem;
    @include transition(0.2s);
    @include border-hover;
    cursor: pointer;
    .dropbtn {
      font-size: $button-md-font;
      color: $grey-color2;
      width: 100%;
      display: flex;
      align-items: center;
      img {
        width: 15px;
        height: 15px;
        margin-left: 2px;
        @include transition(0.2s);
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      top: 105%;
      background-color: #f9f9f9;
      width: 100%;
      box-shadow: $box-shadow;
      z-index: 1;
      overflow: hidden auto;
      & li {
        font-size: 13.33px;
        color: $dark-color1;
        padding: 10px 12px;
        display: block;
        font-weight: normal;
        white-space: pre;
        min-height: 1.2em;
        &:hover {
          background-color: $primary-color;
          color: $white-color;
        }
      }
    }
    &:hover {
      .dropdown-content {
        display: block;
      }
      img {
        transform: rotate(-180deg);
      }
    }
  }

  // FORM AREA
  .form-area-container {
    @media only screen and (min-width: 745px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .form-area {
      @include white-background;
      @media only screen and (min-width: 745px) {
        width: 60%;
      }
      form {
        display: grid;
        grid-gap: 2rem;
        .form-area-field {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          .col-2 {
            grid-column: 2 / span 3;
          }
          label {
            font-size: $button-md-font;
            color: $dark-color1;
            margin-right: 3rem;
            font-weight: normal;
          }
          input,
          .select-field {
            border: 1px solid $grey-color1;
            padding: 0.5rem;
            border-radius: $border-radius - 4;
            outline: none;
            @include transition(0.2s);
            @include border-hover;
            &::placeholder {
              color: $grey-color2;
            }
            // Input validation
            &.ng-touched.ng-invalid {
              border: 1px solid $danger-color;
            }
            &.ng-touched.ng-valid {
              border: 1px solid $success-color;
            }
          }
          textarea {
            color: $dark-color2 !important;
          }
          .select-field {
            font-size: 13.3333px; // standard input font-size
            color: $grey-color2;
            img {
              width: 20px;
              height: 20px;
              vertical-align: middle;
              float: right;
            }
            select {
              width: 100%;
              height: inherit;
              border: none;
              outline: none;
              color: #bfbfbf;
              option {
                color: $dark-color2;
                font-size: 16px;
              }
            }
          }
          &.form-btn {
            button {
              outline: none;
              border: none;
              cursor: pointer;
            }
          }
          &.vehicle-rate {
            .col-2 {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
    // Preview Area
    .preview-area {
      height: 250px;
      width: 200px;
      margin: auto;
      border-radius: $border-radius;
      border: 2px dashed $white-color;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 745px) {
        margin-top: 1rem;
      }
      img {
        width: 100%;
        height: 250px;
      }
    }
  }
}
/*/---- Main ends ----/*/
