<section class="main-sect">
  <div class="main-sect-heading">
    <div class="main-sect-heading-left">
      <h5>Payments</h5>
    </div>
    <div class="main-sect-btns uppercase">
      <a class="btn trans-btn" (click)="exportexcel()">
        <img src="../../assets/img/svg/download.svg" alt="" />
        Download
      </a>
      <!-- <a href="create-vehicle.html" class="btn dark-btn">
        <img src="../../assets/img/svg/white-plus.svg" alt="" />
        Add Payment
      </a> -->
    </div>
  </div>
  <div class="table-area">
    <div class="table-area-heading">
      <div class="table-area-heading-left">
        <p class="table-total">{{ payments?.length }} Payments</p>
      </div>
      <div class="table-area-heading-right">
        <span class="table-search">
          <img src="../../assets/img/svg/search.svg" alt="search" />
          <!-- <p>You can search here...</p> -->
          <input
            type="text"
            placeholder="Enter product to search"
            name="product"
            [(ngModel)]="product"
            (input)="search()"
          />
        </span>
        <span class="table-filter dropdown">
          <p class="dropbtn">
            Available <img src="../../assets/img/svg/chevron-down.svg" alt="" />
          </p>
          <ul class="dropdown-content">
            <li>All vehicles</li>
            <li>Top</li>
            <li>Some</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="table-area-body">
      <ul class="table-list">
        <li class="table-heading">
          <p class="date">Date</p>
          <p class="product">Product</p>
          <p class="amount">Amount(N)</p>
          <p class="channel">Channel</p>
          <p class="status">Status</p>
        </li>
        <li
          class="table-item"
          *ngFor="
            let item of payments | paginate: { itemsPerPage: 2, currentPage: p }
          "
        >
          <p class="date">{{ item.date }}</p>
          <p class="product">{{ item.product }}</p>
          <p class="amount">{{ item.amount }}</p>
          <p class="channel">{{ item.channel }}</p>
          <p class="status">{{ item.status }}</p>
        </li>
      </ul>
      <!-- <div class="pagination">
        <a href="#"><img src="../../assets/img/svg/arrow-left.svg" alt="" /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">12</a>
        <a href="#"
          ><img src="../../assets/img/svg/arrow-right.svg" alt=""
        /></a>
      </div> -->
      <pagination-controls
        (pageChange)="p = $event"
        class="pagination"
      ></pagination-controls>
    </div>
  </div>
</section>
