<!-- VENDORS -->
<section class="main-sect" *ngIf="vendorSect">
  <div class="main-sect-heading">
    <div class="main-sect-heading-left">
      <h5>Merchants</h5>
    </div>
    <div class="main-sect-btns uppercase">
      <a class="btn trans-btn" (click)="exportexcel()">
        <img src="../../assets/img/svg/download.svg" alt="" />
        Download
      </a>
      <a class="btn dark-btn" (click)="showAddVendorSect()">
        <img src="../../assets/img/svg/white-plus.svg" alt="" />
        Add merchant
      </a>
    </div>
  </div>
  <div class="table-area">
    <div class="table-area-heading">
      <div class="table-area-heading-left">
        <p class="table-total">{{ vendors?.length }} merchants</p>
      </div>
      <div class="table-area-heading-right">
        <span class="table-search">
          <img src="../../assets/img/svg/search.svg" alt="search" />
          <!-- <p>You can search here...</p> -->
          <input
            type="text"
            name="title"
            [(ngModel)]="title"
            (input)="search()"
            placeholder="Enter title to search"
          />
        </span>
        <span class="table-filter dropdown">
          <p class="dropbtn">
            All merchants
            <img src="../../assets/img/svg/chevron-down.svg" alt="" />
          </p>
          <ul class="dropdown-content">
            <li>All merchants</li>
            <li>Top merchants</li>
            <li>Some merchants</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="table-area-body">
      <ul class="table-list">
        <li class="table-heading">
          <p class="name">Name</p>
          <p class="email">Email</p>
          <p class="address">Address</p>
          <p class="number">Phone number</p>
          <p class="status">Status</p>
          <p class="action">Action</p>
        </li>

        <!-- Product List -->
        <ng-container *ngIf="vendors?.length > 0; else noItems">
          <li
            class="table-item"
            *ngFor="
              let i of vendors | paginate: { itemsPerPage: 2, currentPage: p }
            "
          >
            <p class="name">{{ i.title }}</p>
            <p class="email">{{ i.email }}</p>
            <p class="address">{{ i.address }}</p>
            <p class="number">{{ i.phoneNumber }}</p>
            <p class="status">{{ i.status }}</p>
            <p class="action uppercase">
              <a class="btn sec1-btn">View</a>
              <a class="btn dark-btn" (click)="showEditVendorSect(i)">Edit</a>
              <a class="btn danger-btn" (click)="onRemove(i)">Delete</a>
            </p>
          </li>
        </ng-container>
      </ul>
      <!-- <div class="pagination">
        <a href="#"><img src="../../assets/img/svg/arrow-left.svg" alt="" /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">12</a>
        <a href="#"
          ><img src="../../assets/img/svg/arrow-right.svg" alt=""
        /></a>
      </div> -->
      <pagination-controls
        (pageChange)="p = $event"
        class="pagination"
      ></pagination-controls>

      <!-- If the Product List is empty -->
      <ng-template #noItems>
        <p class="empty-list">Empty list</p>
      </ng-template>
    </div>
  </div>
</section>

<!-- ADD VENDORS -->
<app-addmerchant
  *ngIf="addVendorSect"
  (parentData)="showVendorSect()"
></app-addmerchant>

<!-- EDIT VENDORS -->
<app-editmerchant
  *ngIf="editVendorSect"
  (parentData)="showVendorSect()"
  [vendorData]="currentVendor"
></app-editmerchant>
