<!-- PRODUCTS -->
<section class="main-sect" *ngIf="productSect">
  <div class="main-sect-heading">
    <div class="main-sect-heading-left">
      <h5>Products</h5>
    </div>
    <div class="main-sect-btns uppercase">
      <a class="btn trans-btn" (click)="exportexcel()">
        <img src="../../assets/img/svg/download.svg" alt="" />
        Download
      </a>
      <a class="btn dark-btn" (click)="showAddProductSect()">
        <img src="../../assets/img/svg/white-plus.svg" alt="" />
        Add product
      </a>
    </div>
  </div>
  <div class="table-area">
    <div class="table-area-heading">
      <div class="table-area-heading-left">
        <p class="table-total">{{ products?.length }} products</p>
      </div>
      <div class="table-area-heading-right">
        <span class="table-search">
          <img src="../../assets/img/svg/search.svg" alt="search" />
          <input
            type="text"
            name="name"
            [(ngModel)]="name"
            (input)="search()"
            placeholder="Enter name to search"
          />
        </span>
        <span class="table-filter dropdown">
          <p class="dropbtn">
            All products
            <img src="../../assets/img/svg/chevron-down.svg" alt="" />
          </p>
          <ul class="dropdown-content">
            <li>All products</li>
            <li>Top products</li>
            <li>Some products</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="table-area-body">
      <ul class="table-list">
        <li class="table-heading">
          <p class="image">Image</p>
          <p class="name">Name</p>
          <p class="category">Category</p>
          <p class="price">Price (N)</p>
          <p class="action">Action</p>
        </li>

        <!-- Product List -->
        <ng-container *ngIf="products?.length > 0; else noItems">
          <li
            class="table-item"
            *ngFor="
              let i of products | paginate: { itemsPerPage: 2, currentPage: p }
            "
          >
            <p class="image"><img [src]="i.imageUrl" alt="" /></p>
            <p class="name">{{ i.name }}</p>
            <p class="category">{{ i.categoryId.title }}</p>
            <p class="price">{{ i.amount }}</p>
            <p class="action uppercase">
              <a class="btn dark-btn" (click)="showEditProductSect(i)">Edit</a>
              <a class="btn danger-btn" (click)="onRemove(i)">Delete</a>
            </p>
          </li>
        </ng-container>
      </ul>
      <!-- <div class="pagination">
        <a href="#"><img src="../../assets/img/svg/arrow-left.svg" alt="" /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">12</a>
        <a href="#"
          ><img src="../../assets/img/svg/arrow-right.svg" alt=""
        /></a>
      </div> -->
      <pagination-controls
        (pageChange)="p = $event"
        class="pagination"
      ></pagination-controls>

      <!-- If the Product List is empty -->
      <ng-template #noItems>
        <p class="empty-list">Empty list</p>
      </ng-template>
    </div>
  </div>
</section>

<!-- ADD PRODUCTS -->
<app-addproduct
  *ngIf="addProductSect"
  (parentData)="showProductSect()"
></app-addproduct>

<!-- EDIT PRODUCTS -->
<app-editproduct
  *ngIf="editProductSect"
  (parentData)="showProductSect()"
  [productData]="currentProduct"
></app-editproduct>
