/* Import */
@import "../../../assets/scss/variables";
@import "../../../assets/scss/utilities";

.container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  .login-content {
    width: 400px;
    margin: 5rem auto;
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    @media only screen and (max-width: 567px) {
      width: 90%;
      margin: auto;
    }
    &-heading {
      text-align: center;
      background-color: $primary-color;
      padding: 1rem 0;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      h2 {
        color: $white-color !important;
      }
    }
    &-form {
      display: grid;
      grid-gap: 30px;
      padding: 2rem;
      .login-fields {
        width: 100%;
        display: flex;
        align-items: center;
        border: 2px solid $grey-color2;
        border-radius: $border-radius;
        padding: 0.8rem;
        transition: all 0.2s;
        &:hover {
          border: 2px solid $dark-color2;
        }
        & input {
          width: 100%;
          color: $dark-color2;
          font-size: $button-lg-font;
          border: none;
          outline: none;
          &::placeholder {
            color: $grey-color2;
          }
        }
        img {
          filter: brightness(0.2);
        }
      }
      .login-content-gender {
        select {
          width: 100%;
          height: inherit;
          border: none;
          outline: none;
          color: $dark-color2;
          font-size: $button-lg-font;
          option {
            color: $dark-color2;
          }
        }
      }
      .login-content-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
          font-size: 18px;
          border: none;
          padding: 0.8rem 1.8rem;
        }
        // .login-content-extra {
        //   & a {
        //     color: $dark-color2;
        //     &:hover {
        //       color: $dark-color3;
        //     }
        //   }
        // }
      }
      .warning-msg {
        margin-top: 1rem !important;
      }
    }
  }
}
