<section class="main-sect">
  <div class="main-sect-heading">
    <div class="main-sect-heading-left">
      <h5 class="clickable" routerLink="/order">
        <img src="../../../../assets/img/svg/arrow-left.svg" alt="" />
        Orders
      </h5>
      <img src="../../../../assets/img/svg/line.svg" alt="" />
      <p>Pastries</p>
    </div>
    <div class="main-sect-btns uppercase">
      <a href="#" class="btn trans-btn">
        <img src="../../../../assets/img/svg/download.svg" alt="" />
        Download
      </a>
    </div>
  </div>

  <div class="table-area">
    <div class="table-area-heading">
      <div class="table-area-heading-left">
        <p class="table-total">New Orders</p>
        <img src="../../../../assets/img/svg/line.svg" alt="" />
        <p>8</p>
      </div>
      <div class="table-area-heading-right">
        <span class="table-search">
          <img src="../../../../assets/img/svg/search.svg" alt="search" />
          <!-- <p>You can search here...</p> -->
          <input type="text" class="" placeholder="Search..." />
        </span>
      </div>
    </div>
    <div class="table-area-body">
      <ul class="table-list">
        <li class="table-heading">
          <p class="id">Order id</p>
          <p class="customer">Customer</p>
          <p class="receiver">Receiver</p>
          <p class="address">Address</p>
          <p class="status">Status</p>
          <p class="action">Action</p>
        </li>
        <li class="table-item">
          <p class="id">#ES120391</p>
          <p class="customer">Bala Peters</p>
          <p class="receiver">Logun Jay S.</p>
          <p class="address">34 bide Str, Ilorin</p>
          <p class="status">Delivered</p>
          <p class="action uppercase">
            <a href="#" class="btn sec1-btn">View</a>
          </p>
        </li>
        <li class="table-item">
          <p class="id">#ES120391</p>
          <p class="customer">Bala Peters</p>
          <p class="receiver">Logun Jay S.</p>
          <p class="address">34 bide Str, Ilorin</p>
          <p class="status">Delivered</p>
          <p class="action uppercase">
            <a href="#" class="btn sec1-btn">View</a>
          </p>
        </li>
      </ul>
      <div class="pagination">
        <a href="#"
          ><img src="../../../../assets/img/svg/arrow-left.svg" alt=""
        /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#"
          ><img src="../../../../assets/img/svg/arrow-right.svg" alt=""
        /></a>
      </div>
    </div>
  </div>

  <div class="table-area">
    <div class="table-area-heading">
      <div class="table-area-heading-left">
        <p class="table-total">128 Orders</p>
        <img src="../../../../assets/img/svg/line.svg" alt="" />
        <p>104 Deliveries made</p>
      </div>
      <div class="table-area-heading-right">
        <span class="table-search">
          <img src="../../../../assets/img/svg/search.svg" alt="search" />
          <input type="text" class="" placeholder="Search..." />
        </span>
        <span class="table-filter dropdown">
          <p class="dropbtn">
            All Orders
            <img src="../../../../assets/img/svg/chevron-down.svg" alt="" />
          </p>
          <ul class="dropdown-content">
            <li>All orders</li>
            <li>Top orders</li>
            <li>Some orders</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="table-area-body">
      <ul class="table-list">
        <li class="table-heading">
          <p class="id">Order id</p>
          <p class="customer">Customer</p>
          <p class="receiver">Receiver</p>
          <p class="address">Address</p>
          <p class="status">Status</p>
          <p class="action">Action</p>
        </li>
        <li class="table-item">
          <p class="id">#ES120391</p>
          <p class="customer">Bala Peters</p>
          <p class="receiver">Logun Jay S.</p>
          <p class="address">34 bide Str, Ilorin</p>
          <p class="status">Delivered</p>
          <p class="action uppercase">
            <a href="#" class="btn sec1-btn">View</a>
          </p>
        </li>
        <li class="table-item">
          <p class="id">#ES120391</p>
          <p class="customer">Bala Peters</p>
          <p class="receiver">Logun Jay S.</p>
          <p class="address">34 bide Str, Ilorin</p>
          <p class="status">Delivered</p>
          <p class="action uppercase">
            <a href="#" class="btn sec1-btn">View</a>
          </p>
        </li>
      </ul>
      <div class="pagination">
        <a href="#"
          ><img src="../../../../assets/img/svg/arrow-left.svg" alt=""
        /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">12</a>
        <a href="#"
          ><img src="../../../../assets/img/svg/arrow-right.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
