<!-- Overview -->
<div class="overview main-sect">
  <div class="overview-heading main-sect-heading">
    <div class="main-sect-heading-left">
      <h5>Overview Analytics</h5>
    </div>
  </div>
  <div class="overview-total main-cards">
    <div class="card">
      <h4>2,560</h4>
      <p>Customers</p>
    </div>
    <div class="card">
      <h4>302</h4>
      <p>Deliveries made</p>
    </div>
    <div class="card">
      <h4>{{ riders?.length }}</h4>
      <p>Riders</p>
    </div>
    <div class="card dark-bg total-earn">
      <h4 class="white-text">N9.45m</h4>
      <p>Total earning</p>
    </div>
  </div>
  <!-- Overview order -->
  <div class="overview-order">
    <div class="overview-order-heading">
      <p>Orders</p>
      <div class="overview-order-heading-right">
        <span class="active">African</span>
        <span>Cont</span>
        <span>Drinks</span>
        <span>Pasteries</span>
      </div>
    </div>
    <ul class="overview-order-heading-list">
      <li>
        <p class="name">Joe Sefph</p>
        <p class="id">#ES02392</p>
        <p class="route">Enroute</p>
        <p class="action">
          <a href="#" class="btn light-btn uppercase">view</a>
        </p>
      </li>
      <li>
        <p class="name">Joe Sefph</p>
        <p class="id">#ES02392</p>
        <p class="route">Enroute</p>
        <p class="action">
          <a href="#" class="btn light-btn uppercase">view</a>
        </p>
      </li>
      <li>
        <p class="name">Joe Sefph</p>
        <p class="id">#ES02392</p>
        <p class="route">Enroute</p>
        <p class="action">
          <a href="#" class="btn light-btn uppercase">view</a>
        </p>
      </li>
    </ul>
  </div>

  <!-- Overview Vehicles -->
  <div class="overview-vehicle">
    <div class="overview-vehicle-heading">
      <p>Products</p>
      <div class="overview-vehicle-heading-right">
        <a href="#" class="btn prim-btn uppercase">See all</a>
      </div>
    </div>
    <div class="chart">
      <canvas id="orderChart"></canvas>
    </div>
  </div>

  <!-- Overview Drivers -->
  <div class="overview-driver">
    <div class="overview-driver-heading">
      <p>Riders</p>
      <div class="overview-driver-heading-right">
        <a href="#" class="btn prim-btn uppercase">See all</a>
      </div>
    </div>
    <div class="chart">
      <canvas id="driverChart"></canvas>
    </div>
  </div>

  <!-- Overview Earning -->
  <div class="overview-earning">
    <div class="overview-vehicle-heading">
      <p>Earning statistics</p>
      <span class="dropdown">
        <p class="dropbtn">
          6 months <img src="../../assets/img/svg/chevron-down.svg" alt="" />
        </p>
        <ul class="dropdown-content">
          <li>All merchants</li>
          <li>Top merchants</li>
          <li>Some merchants</li>
        </ul>
      </span>
    </div>
    <div class="chart">
      <canvas id="earningChart"></canvas>
    </div>
  </div>
</div>
