<section class="main-sect">
    <div class="main-sect-heading">
        <div class="main-sect-heading-left">
                <h5>Customers</h5>
            </div>
        <div class="main-sect-btns uppercase">
            <a href="#" class="btn trans-btn">
                <img src="../../assets/img/svg/download.svg" alt="">
                Download
            </a>
            <a href="add-customer.html" class="btn dark-btn">
                <img src="../../assets/img/svg/white-plus.svg" alt="">
                Add customer
            </a>
        </div>
    </div>
    <div class="table-area">
        <div class="table-area-heading">
            <div class="table-area-heading-left">
                <p class="table-total">2734 customers</p>
            </div>
            <div class="table-area-heading-right">
                <span class="table-search">
                    <img src="../../assets/img/svg/search.svg" alt="search">
                    <!-- <p>You can search here...</p> -->
                    <input type="text" class="" placeholder="Search...">
                </span>
                <span class="table-filter dropdown">
                    <p class="dropbtn">All customers <img src="../../assets/img/svg/chevron-down.svg" alt=""></p>
                    <ul class="dropdown-content">
                        <li>All customers</li>
                        <li>Top customers</li>
                        <li>Some customers</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="table-area-body">
            <ul class="table-list">
                <li class="table-heading">
                        <p class="name">Name</p>
                        <p class="email">Email</p>
                        <p class="address">Address</p>
                        <p class="number">Phone number</p>
                        <p class="status">Status</p>
                        <p class="action">Action</p>
                </li>
                <li class="table-item">
                        <p class="name">James Hadon</p>
                        <p class="email">Jameshadon@gmail.com</p>
                        <p class="address">34 bide Str, Ilorin</p>
                        <p class="number">09032726193</p>
                        <p class="status">Verified</p>
                        <p class="action uppercase">
                            <a href="#" class="btn sec1-btn">View</a>
                            <a href="edit-customer.html" class="btn dark-btn">Edit</a>
                            <a href="#" class="btn danger-btn">Delete</a>
                        </p>
                </li>
                <li class="table-item">
                        <p class="name">James Hadon</p>
                        <p class="email">Jameshadon@gmail.com</p>
                        <p class="address">34 bide Str, Ilorin</p>
                        <p class="number">09032726193</p>
                        <p class="status">Verified</p>
                        <p class="action uppercase">
                            <a href="#" class="btn sec1-btn">View</a>
                            <a href="#" class="btn dark-btn">Edit</a>
                            <a href="#" class="btn danger-btn">Delete</a>
                        </p>
                </li>
                <li class="table-item">
                        <p class="name">James Hadon</p>
                        <p class="email">Jameshadon@gmail.com</p>
                        <p class="address">34 bide Str, Ilorin</p>
                        <p class="number">09032726193</p>
                        <p class="status">Verified</p>
                        <p class="action uppercase">
                            <a href="#" class="btn sec1-btn">View</a>
                            <a href="#" class="btn dark-btn">Edit</a>
                            <a href="#" class="btn danger-btn">Delete</a>
                        </p>
                </li>
                <li class="table-item">
                        <p class="name">James Hadon</p>
                        <p class="email">Jameshadon@gmail.com</p>
                        <p class="address">34 bide Str, Ilorin</p>
                        <p class="number">09032726193</p>
                        <p class="status">Verified</p>
                        <p class="action uppercase">
                            <a href="#" class="btn sec1-btn">View</a>
                            <a href="#" class="btn dark-btn">Edit</a>
                            <a href="#" class="btn danger-btn">Delete</a>
                        </p>
                </li>
            </ul>
            <div class="pagination">
                    <a href="#"><img src="../../assets/img/svg/arrow-left.svg" alt=""></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">...</a>
                    <a href="#">12</a>
                    <a href="#"><img src="../../assets/img/svg/arrow-right.svg" alt=""></a>
            </div>
            </div>
    </div>
</section>