@import "../../../assets/scss/control-panel";

/*/---- Sidenav starts ----/*/
// Style is in _control-panel.scss
/*/---- Sidenav ends ----/*/

/*/---- Main start ----/*/
.table-area {
  &-body {
    .table-list {
      li {
        p {
          &.name {
            flex-basis: 25%;
          }
          &.email {
            flex-basis: 24%;
          }
          &.number {
            flex-basis: 16%;
          }

          &.status {
            flex-basis: 10%;
          }
          // &.action {

          // }
        }
      }
    }
  }
}
/*/---- Main ends ----/*/
